<!DOCTYPE html>
<html>
<head>
	<title>Portfolio website</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

	<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JV5B2VVVFS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JV5B2VVVFS');
</script>
</head>
<body>
	<!----hero Section start---->

	<div class="hero">
		<nav>
			<h2 class="logo">Portfo<span>lio</span></h2>
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('projects') }}">Personal Projects</a></li>
				<!---<li><a href="#">Services and Skills</a></li> ---->
				<li><a href="{{ url_for('contact') }}">Contact Me</a></li>
			</ul>

		</nav>

		
	</div>
	{% block content %}
	{% endblock %}

	<!------footer start--------->
	<footer>
		<p>Yemisi Ogungbemi</p>
		<p>For more information check my socials:</p>
		<div class="social">
			<a href="https://twitter.com/yemisiogungbem3" target="_blank"><i class="fab fa-twitter"></i></a>
			<a href="https://www.linkedin.com/in/yemisi-ogungbemi-129b0b198" target="_blank"><i class="fab fa-linkedin"></i></a>
			<a href="https://github.com/yemoski" target="_blank"><i class="fab fa-github"></i></a>
		</div>
		<p class="end">CopyRight By Yemisi Ogungbemi</p>
	</footer>
</body>
</html>