{% extends 'base.html' %}
{% block content %}
<div class="content">
	<div class="content-items">
		<h4>👋Hello, my name is</h4> 
	</div>
	<div class="content-items">
		<h1>Yemisi <span>Ogungbemi</span></h1>
	</div>	
	<div class="content-items">
		<h3>I am a Software Developer.</h3>
	</div>	
	<div class="content-items">
		<h3>Welcome to my personal Website!</h3>
	</div>	
				
				
				
				
	</div>
	<!----About section start---->
	<section class="about">
		<div class="main">
			<img src="{{ url_for('static', filename='/images/main.jpg') }}">
			<div class="about-text">
				<h2>About Me</h2>
				<h5>Web Developer <span>& Data Analyst</span></h5>
				<p>I’m a Software Developer based in Vancouver, BC, delivering clean code and pixel-perfect design.
					 My focus is on building real-world solutions through logical problem-solving and creating interactive dashboards with web animations. I’m passionate about crafting responsive designs that ensure accessibility for every user, across all devices and abilities.
				<span class="about-me-special">I'm glad you are here!</span>
			</p>
				
			</div>
		</div>
	</section>

	

	<!------Contact Me------>
	<div class="contact-me">
		<p>Let Me Get You A Beautiful Website or Application!</p>
		<a class="button-two" href="{{ url_for('contact') }}">Hire Me</a>
	</div>

	{% endblock %}